logs
site
sessions
tmp
sites/default/files
public_html_before_gitlist
*.swp
public_html/sites/sites.php
public_html/sites/all/themes/naestved
public_html/sites/all/themes/skbrg
public_html/sites/valg-*
virtualhost.conf
