body {
  font-family: Helvetica, Arial, "Lucida Grande", sans-serif;
}

table {
  width: 100%;

  border-collapse: collapse;
  border-spacing: 0;

  margin-bottom: 40px;
}

th, td {
  padding: 5px 10px;
  border: 1px solid #333;
}

th {
  background-color: lightgrey;
}

td.danger {
  background-color: #EBC8C6;
}

td.warning {
  background-color: #fbfadd;
}

td.alert {
  background-color: #EBC8C6;
}

td.success {
  background-color: #ebf6e0;
}

.text-muted {
  color: #888;
}
