$boxy-spacing-left-right: 40px;

// Heading
$boxy-heading-spacing-top-bottom: 40px;
$boxy-heading-border: 0 !default;
$boxy-heading-background-color: $body-bg-secondary;

$boxy-heading-title-color: $brand-primary;

// Body
$boxy-body-spacing-top-bottom: floor( ( $grid-gutter-width / 2 ) );
$boxy-body-border: 0;
$boxy-body-background-color: $body-bg-secondary;

// Footer
$boxy-footer-spacing-top-bottom: 10px !default;
$boxy-footer-border: 0 !default;
$boxy-footer-background-color: $body-bg-secondary;
