// |--------------------------------------------------------------------------
// | Status circle
// |--------------------------------------------------------------------------
// |
// | This file contains styles for the following:
// | - .status-circle
// |

// --------------------------------------------------
// Variables
// --------------------------------------------------

// --------------------------------------------------
// Mixins
// --------------------------------------------------

@mixin status-circle-mixin() {}

// --------------------------------------------------
// Styling
// --------------------------------------------------

.status-circle {
  display: inline-block;

  width: 12px;
  height: 12px;

  border-radius: 100%;

  background-color: $body-bg-tertiary;
}

// --------------------------------------------------
// Variants
// --------------------------------------------------

.status-circle--danger {
  background-color: $brand-danger;
}
.status-circle--warning {
  background-color: $brand-warning;
}
.status-circle--success {
  background-color: $brand-success;
}
.status-circle--info {
  background-color: $brand-info;
}

// --------------------------------------------------
// Responsive
// --------------------------------------------------

// Mobile - and up
@media #{$breakpoint-mobile-and-up} {}

// Mobile - only
@media #{$breakpoint-mobile-only} {}

// Tablet - and up
@media #{$breakpoint-tablet-and-up} {}

// Tablet - only
@media #{$breakpoint-tablet-only} {}

// Desktop - and up
@media #{$breakpoint-desktop-and-up} {}

// Desktop - only
@media #{$breakpoint-desktop-only} {}

// Large desktop - and up
@media #{$breakpoint-large-desktop-and-up} {}

// Print
@media print {}

// Touch
.touchevents {}

// No touch
.no-touchevents {}
